docs
lib
build-*
QStudioSCADABin/bin/bearer/
QStudioSCADABin/bin/iconengines/
QStudioSCADABin/bin/imageformats/
QStudioSCADABin/bin/platforms/
QStudioSCADABin/bin/styles/
QStudioSCADABin/bin/translations/
QStudioSCADABin/bin/UploadProjects/
QStudioSCADABin/bin/tmp/
QStudioSCADABin/bin/*.exe
QStudioSCADABin/bin/*.dll
QStudioSCADABin/bin/lastpath.ini
QStudioSCADABin/bin/printsupport/*.dll
QStudioSCADABin/demo/
QStudioSCADABin/deviceplugins/
QStudioSCADABin/DrawApplicationPlugins/
QStudioSCADABin/drivers/
QStudioSCADABin/graphicslib/
QStudioSCADABin/help/
QStudioSCADABin/plugin/
QStudioSCADABin/plugins/
QStudioSCADABin/tools/
QStudioSCADABin/update/
QStudioSCADABin/wave/

RuntimeBin/log/
RuntimeBin/Project/
RuntimeBin/RunProject/
RuntimeBin/Vendor/
RuntimeBin/bearer/
RuntimeBin/iconengines/
RuntimeBin/imageformats/
RuntimeBin/platforms/
RuntimeBin/styles/
RuntimeBin/translations/
RuntimeBin/sqldrivers/
RuntimeBin/*.exe
RuntimeBin/*.dll

delobj.bat

*.user

*.suo
*.bin
*.obj
*.pdb
*.res
*.o
*.a
*.bak
*.log
*.user
*.user.*
*.opensdf
*.orig
*.autosave
