docs
lib
build-*
QStudioSCADABin/bin/UploadProjects/
QStudioSCADABin/bin/tmp/
QStudioSCADABin/bin/*.exe
QStudioSCADABin/bin/*.dll
QStudioSCADABin/demo/
QStudioSCADABin/deviceplugins/
QStudioSCADABin/DrawApplicationPlugins/
QStudioSCADABin/drivers/
QStudioSCADABin/graphicslib/
QStudioSCADABin/help/
QStudioSCADABin/plugin/
QStudioSCADABin/plugins/
QStudioSCADABin/tools/
QStudioSCADABin/update/
QStudioSCADABin/wave/

RuntimeBin/log/
RuntimeBin/Project/
RuntimeBin/RunProject/
RuntimeBin/Vendor/
RuntimeBin/*.exe
RuntimeBin/*.dll

delobj.bat

*.user

*.suo
*.exe
*.bin
*.obj
*.pdb
*.res
*.o
*.a
*.bak
*.log
*.user
*.user.*
*.opensdf
*.orig
*.autosave
