docs
lib
build-*
QStudioSCADABin/bin/UploadProjects
QStudioSCADABin/bin/tmp
QStudioSCADABin/bin/*.exe
QStudioSCADABin/bin/*.dll
QStudioSCADABin/demo
QStudioSCADABin/deviceplugins
QStudioSCADABin/DrawApplicationPlugins
QStudioSCADABin/drivers
QStudioSCADABin/graphicslib
QStudioSCADABin/help
QStudioSCADABin/plugin
QStudioSCADABin/plugins
QStudioSCADABin/tools
QStudioSCADABin/update
QStudioSCADABin/wave

RuntimeBin/log
RuntimeBin/Project
RuntimeBin/RunProject
RuntimeBin/Vendor
RuntimeBin/*.exe
RuntimeBin/*.dll

delobj.bat
ipch/
Win32/Debug/
Win32/Release/
debug/
bin/
release/
*.suo
*.exe
*.bin
*.obj
*.pdb
*.res
*.o
*.a
*.bak
*.log
*.user
*.user.*
*.opensdf
Picture/
GeneratedFiles/
img.jpg
/windows_qt.db
*.sdf
/VersionInfo.rc
/VersionInfo.h
*.aps
Plugins/
/setting.dll
Makefile
Makefile.Debug
Makefile.Release
*.orig
