#define GIT_HASH "326c15d37cd7699e4e121a468e766d5cd87ab54f\0"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080403A8"
        BEGIN
            VALUE "CompanyName"      , "SHENZHEN ZHILAI SCI AND TECH CO., LTD\0"
            VALUE "FileDescription"  , "zhilaibox\0"
            VALUE "ProductName"      , "zhilaibox\0"
            VALUE "LegalTrademarks"  , "zhilaibox\0"
            VALUE "InternalName"     , "zhilaibox.exe\0"
            VALUE "OriginalFilename" , "zhilaibox.exe\0"
            VALUE "PrivateBuild"     , GIT_HASH
            VALUE "FileVersion"      , "1.0.0.0\0"
            VALUE "ProductVersion"   , GIT_HASH
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 0x03A8
    END
END
